{% include "layouts/main.twig" %}
		<div class="container">
			<div class="row">
				
				<div class="col-md-4">
				</div>

				<div class="col-md-4" style="text-align: center;">
                    <div class="panel panel-primary">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <h3>Your registration success</h3>
                        </div>
                    </div>
				</div>

				<div class="col-md-4">
				</div>
				
			</div>
		</div>
{% include "layouts/footer.html" %}
