{% include "layouts/main.twig" %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {% include "layouts/userNav.twig" %}
        </div>
        <div class="col-lg-9">

            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Created Date</th>
                    <th>Status</th>

                </tr>
                </thead>

                <tbody>

                {% for data in pagination %}
                    <tr>
                        <td>
                            {{ data.bookTitle }}
                        </td>
                        <td>
                            {{ data.createdDate }}
                        </td>
                        <td>
                            <button class="btn btn-danger">Rejected</button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>

{% include "layouts/footer.html" %}
{% include "layouts/js.twig" %}

{% include "layouts/end.twig" %}