{% for category in categories %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a style="font-size: 12px;" href="{{app.url_generator.generate('getDigitalBookByCategory', {'slug' : category}) }}">
                    {{ category }}
                </a>
            </h4>
        </div>
    </div>
{% endfor %}